<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This project is licensed as below.
  ~
  ~ ***************************************************************************
  ~
  ~ Copyright 2020-2025 Altera Corporation. All Rights Reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions are met:
  ~
  ~ 1. Redistributions of source code must retain the above copyright notice,
  ~ this list of conditions and the following disclaimer.
  ~
  ~ 2. Redistributions in binary form must reproduce the above copyright
  ~ notice, this list of conditions and the following disclaimer in the
  ~ documentation and/or other materials provided with the distribution.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  ~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  ~ LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
  ~ PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER
  ~ OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  ~ EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  ~ PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
  ~ OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
  ~ WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
  ~ OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
  ~ ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~
  ~ ***************************************************************************
  -->

<!DOCTYPE configuration>

<configuration scan="true">
    <!-- Disable logback status on startup - to debug problems comment below line -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/${appName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <conversionRule conversionWord="escapedThrowable"
                    converterClass="com.intel.bkp.bkps.config.EscapingThrowableConverter"/>
    <conversionRule conversionWord="escapedMessage"
                    converterClass="com.intel.bkp.bkps.config.EscapingMessageConverter" />
    <appender name="JSONCONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"date": "%date{yyyy-MM-dd HH:mm:ss.SSS}", "request_id":"%mdc{request-id}", "uri": "%mdc{uri}", "level": "%level", "class": "%logger", "PID": "%clr(${PID})", "TXID": "%clr(%X{TXID})", "thread": "%clr(%t)", "security": "%clr(%X{SECURITY})", "message": "%escapedMessage", "stacktrace": "%escapedThrowable"}%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <springProfile name="jsonlines">
        <root level="${logging.level.root}">
            <appender-ref ref="JSONCONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="logs">
        <root level="${logging.level.root}">
            <appender-ref ref="ASYNC"/>
        </root>
    </springProfile>

    <springProfile name="!jsonlines">
        <root level="${logging.level.root}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <logger name="angus.activation" level="ERROR"/>
    <logger name="jdk.event.security" level="ERROR"/>
    <logger name="jdk.internal.httpclient" level="ERROR"/>
    <logger name="org.postgresql" level="WARN"/>
    <logger name="com.safenetinc" level="WARN"/>
    <logger name="jakarta.activation" level="WARN"/>
    <logger name="javax.management.remote" level="WARN"/>
    <logger name="jakarta.xml.bind" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.codahale.metrics" level="WARN"/>
    <logger name="com.ryantenney" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="io.undertow.websockets.jsr" level="ERROR"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="liquibase" level="WARN"/>
    <logger name="LiquibaseSchemaResolver" level="INFO"/>
    <logger name="sun.net.www" level="INFO"/>
    <logger name="sun.rmi.transport" level="WARN"/>

    <logger name="com.intel.bkp.fpgacerts" level="DEBUG"/>
    <logger name="com.intel.bkp.crypto" level="DEBUG"/>

    <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

</configuration>
